/* Rimuove padding e spazi per VBox e TabPane */
.tab-pane {
    -fx-padding: 0;
    -fx-spacing: 0;
}

.scroll-pane {
    -fx-padding: 0;
    -fx-background-color: black;
}

.grid-pane {
    -fx-padding: 0;
    -fx-background-color: black;
}

/* Barra di navigazione inferiore senza margini */
.hbox {
    -fx-padding: 0px;
    -fx-spacing: 0px;
}

/* Aggiunta di padding al GridPane per schede valide e non valide */
#gridContainerValidi {
    -fx-padding: 15px;
}

#gridContainerNonValidi {
    -fx-padding: 15px;
}

.image-view {
    -fx-opacity: 0.8;
}